{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Таблица активности</h1>
    <table>
        <thead>
            <tr>
                <th>Мероприятие/Класс</th>
                {% for schoolclass in schoolClass_list %}
                    <th data-school-class-id="{{ schoolclass.id }}">{{ schoolclass }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    <td class="row-start">{{ row.event }}</td>
                    {% for score in row.scores %}
                        <td>
                            {% if score %}
                                <a href="{% url 'score_update' pk=score.pk %}">{{ score.rating }}</a>
                            {% else %}
                                <a href="{% url 'score_create' %}">-</a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for avg_score in average_scores %}
                <tr>
                    <td class="row-start">{{ avg_score.name }}</td>
                    {% for avg in avg_score.avgs %}
                        <td>{{ avg|default:"-" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
