{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Мероприятие/ Класс</th>
                {% for school_class in score_matrix.0 %}
                    {% if not forloop.first %}
                        {% if school_class.class_number >= 5 and school_class.class_number <= 11 %}
                            <th>{{ school_class }}</th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in score_matrix %}
                {% if not forloop.first %}
                    <tr>
                        <td class="row-start">{{ row.0.name }}</td>
                        {% for score in row %}
                            {% if not forloop.first %}
                                {% if score.schoolclass.class_number >= 5 and score.schoolclass.class_number <= 11 %}
                                    {% if score.rating %}
                                            <td>
                                                <a href="{% url 'score_update' score.pk %}">{{ score }}</a>
                                            </td>
                                    {% else %}
                                            <td>
                                                <a href="{% url 'score_update' pk=score.pk %}">-</a>
                                            </td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
                <tr>
                    <td class="row-start">
                        Средний балл по классу
                    </td>
                    {% for school_class, avg_score in average_scores.items %}
                        {% if school_class.class_number >= 5 and school_class.class_number <= 11 %}
                            <td>
                                {{ avg_score|floatformat:"2"  }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td  class="row-start">
                        Средний балл по параллели
                    </td>
                    {% for class_number, data in overall_average_scores.items|slice:"5:" %}
                        {% if class_number >= 5 %}
                            <td colspan="{{ data.class_count }}">
                                {{ data.avg_score|floatformat:"2" }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

        </tbody>
    </table>
{% endblock content %}
