{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Время действовать!</th>
                {% for school_class in school_classes %}
                            <th>{{ school_class }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in score_matrix %}
                <tr>
                    <td class="row-start">{{ row.event.name }}</td>
                    {% for score in row.scores %}
                        {% if score and score.schoolclass.class_number >= 5 and score.schoolclass.class_number <= 11 %}
                            <td>
                                <a href="{% url 'score_update' pk=score.pk param=0 %}">{{ score.rating }}</a>
                            </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
                <tr>
                    <td class="row-start">
                        Средний балл по классу
                    </td>
                    {% for school_class, avg_score in average_scores.items %}
                        {% if school_class.class_number >= 5 and school_class.class_number <= 11 %}
                            <td>
                                {{ avg_score|floatformat:"2"  }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td  class="row-start">
                        Средний балл по параллели
                    </td>
                    {% for class_number, data in overall_average_scores.items%}
                        {% if class_number >= 5 %}
                            <td colspan="{{ data.class_count }}">
                                {{ data.avg_score|floatformat:"2" }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

        </tbody>
    </table>
{% endblock content %}
